<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/aboutstyle.css}">
</head>
<body>
<div class="about-container">
    <h1>About This Project</h1>
    <p>
        Welcome to my final Coding Factory project! This project is inspired by
        my favorite simple game which is Tetris, ive implemented a javascript variation of tetris using Derek Banas's
        tutorial (linked <a href="https://www.youtube.com/watch?v=QDp8BZbwOqk&t=3703s" target="_blank">here</a>) so go back to the home page press the play button and enjoy!
    </p>
    <p>
        Thanks for visiting!
    </p>
    <button onclick="window.location.href='/';">Back to Home</button>
</div>
</body>

<footer>
    <p>&copy; 2025 All Rights Reserved.</p>
</footer>
