<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/hpstyle.css}">
</head>
<body>
<div class="welcome-container">
    <h1>Welcome to My Final CF Project</h1>
    <p>Thank you CF for this amazing programme!</p>
    <div class="main-buttons">
        <button th:onclick="|window.location.href='/tetris'|">Play</button>
        <button th:onclick="|window.location.href='/about'|">About</button>
    </div>
</div>
</body>

<footer>
    <p>&copy; 2025 All Rights Reserved.</p>
</footer>

