<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>JavaScript Tetris</title>
    <link rel="stylesheet" th:href="@{/css/tetristyle.css}">
    <script th:src="@{/js/tetrisbasic.js}"></script>
</head>
<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/"><i class="homebtn"></i> Home</a>
        <form action="/logout" method="POST">
            <button type="submit"><i class="logoutbtn"></i> Logout</button>
        </form>
    </div>
</div>
<body>
<canvas id='my-canvas'></canvas>
</body>
