<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>JavaScript Tetris</title>
    <link rel="stylesheet" th:href="@{/css/tetristyle.css}">
    <script th:src="@{/js/tetrisbasic.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</head>
<body>
<div class="dropdown-menu">
    <button class="dropbtn" onclick="toggleDropdown()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="dropdown-content" id="dropdownMenu">
        <a href="/"><i class="fas fa-home"></i> Home</a>
        <form action="/logout" method="POST">
            <button type="submit"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </form>
    </div>
</div>

<body>
<canvas id='my-canvas'></canvas>
</body>

<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("dropdownMenu");
        dropdown.classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

</body>

